*{
    margin: 0;
    padding: 0;
}
/* resetar as margens e padding do documento */

body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Cabeçalho */

header{
    background-image: url(../IMG/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
}

header h1{
    margin: 0;
    height: 84px;
}

nav{
    text-align: center;
    padding: 15px 0;
}

nav li{
    display: inline;
    background-image: url(../IMG/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color: #000;
    
}

nav a:hover{
    color: #bdff9c;
}

/* Específicos ID */

#ItemContato{
    background-image: none;
    padding-right: 0px;
    margin-right: 0px;
}

/* Grupos de Elementes diferentes (.class) */

.fundo-verde{
    background-color: #bdff9c;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-container .col{
    width: 430px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.produto{
    width: 225px;
}

.produto figure{
    border: 1px solid #4c4c4c;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}

.produto figure img{
    vertical-align: middle;
}

.texto-centralizado{
    text-align: left;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

#produto .flex-container{
    margin-top: 43px;
}